<div class="sign_up_background">

  <div class="row">
    <div class="login-page-container">

      <div class="col-lg-offset-1 col-lg-5">
        <span class="login-tsubuyaki-title"> #Tsubuyakiへようこそ</span>
        <p class="login-tsubuyaki-content"> 友達や魅力的な人々とつながって、興味のある最新情報を見つけましょう。そして、いま起きているできごとを様々な角度から見てみましょう。</p>
      </div>

      <div class="col-lg-offset-1 col-lg-4">
        <div class="login-container">
          <p class="login-login-title">&emsp;&emsp;新しくアカウントをつくる<br><br></p>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="row">
            <div class="col-lg-offset-1 col-lg-10">

              <div class="field">
                <label class="control-label" for="inputEmail">Name</label>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", id:"inputEmail", placeholder:"アカウントの名前を入力" %>
              </div>
              <br>
              <div class="field">
                <label class="control-label" for="inputEmail">Email</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputEmail", placeholder:"メールアドレスを入力" %>
              </div>
              <br>
              <div class="field">
                <label class="control-label" for="inputEmail">パスワード&emsp;
                <% if @minimum_password_length %>
                  (<%= @minimum_password_length %> 文字以上)
                </label>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputEmail",placeholder:"パスワードを入力" %>
              </div>
              <br>
              <div class="field">
                <label class="control-label" for="inputEmail">パスワードの確認</label>
                <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputEmail",placeholder:"パスワードを再度入力" %>
              </div>
            </div>
            </div>
              <br>
            <div class="row">
              <div class="col-lg-offset-7 col-lg-4">
                <%= f.submit "サインアップ", class:"btn btn-block login-login-button" %>
                <% end %>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>

</div>
